---
AlignAfterOpenBracket: Align
Cpp11BracedListStyle: 'false'
IndentCaseLabels: 'true'
IndentWidth: '4'
Language: Cpp
NamespaceIndentation: Inner
PointerAlignment: Right
SortIncludes: 'false'
SpacesInAngles: 'true'
SpacesInCStyleCastParentheses: 'true'
SpacesInContainerLiterals: 'true'
SpacesInParentheses: 'true'
SpacesInSquareBrackets: 'true'
Standard: Auto
TabWidth: '4'
UseTab: Never
ColumnLimit: 0
SpaceInEmptyParentheses: true
NamespaceIndentation: All

...
